body {
	color: black;
	background-color: #EBEBEB;
	font-family: 'Titillium Web', sans-serif;

}
.img {
	text-align:center;
}
.headertext {
	font-family: 'Pacifico', cursive;
	text-align: center;
}
.mywork {
	text-align:center;
	float:right;
	padding-right: 20px;
	padding-bottom: 100px; 
    height: 70px;
    width: 600px;
	display: block;
	position: relative;
	background-color: #EBEBEB;

}

.aboutme {
	text-align:center;
	float:left;
	position: relative;
	margin-left: 20px;
	padding-left: 50px;
	padding-bottom: 100px;
	padding-right: 20px;
    height: 70px;
    width: 600px;
    background-color: #EBEBEB;
}
.aboutme h5 {
	font-family: 'Pacifico', cursive;

}
.mywork h5 {
	font-family: 'Pacifico', cursive;

}

nav {
	background-color: #EBEBEB;
	font-family: 'Titillium Web', sans-serif;
	min-height: 10px;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 100;
	text-decoration: none;

}

nav h2 {
	font-family: 'Pacifico', cursive;

}

.logo {
	text-decoration: none;
	background-color:;
	color: black;
	display: inline-block;
	padding-top:20px;
	padding-left: 20px;
}

a.logo span:first-child {
	left: 3px;
	position:relative;
}

.sitenav {
	text-decoration: none;
	color: black;
	display: inline-block;
	float:right;
	margin-right: 10%;

}
.sitenav li {
	text-decoration: none;
	display: inline-block;
	margin-right: -4px;
}
.sitenav a {
	color: black;
	text-decoration: none;
	display:inline-block;
	padding: 16px 20px;

}

.sitenav a:hover {
	border-bottom: 3px solid #fff;
	cursor: pointer;
}
/*contact section*/
#contact {
	background-color: grey;
	color: pink;
	font-family: 'Pacifico', cursive;
	display: inline-block;
	height: 300px;
	padding: 100px;
	float: left;

}

form > input,
form > textarea {
	font-family: 'Titillium Web', sans-serif;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color: black;
	display:inline;
	font-size: 16px;
	margin: 10px auto;
	padding: 10px;
	width: 70%;
}

form span {
	color: pink;
	font-size: 16px;
	font-weight: 400;

}

form button {
	background-color: grey;
	border: none;
	font-family: 'Pacifico', cursive;
	border-radius: none;
	color: #fff;
	cursor: pointer;
	margin-right: 20px;
	padding-top: 20px;
	padding-right: 20px;

}

button {
	float: left;
}

/*portfolio*/
#work {
	background-color: #EBEBEB;
	font-weight: 400;
	padding: 20px 0;
	text-align: center;
}

#work h3 {
	font-family: 'Pacifico', cursive;
	color: pink;
	font-size: 20px;
	margin: 0;

}

#work p {
	color: black;
	font-size: 12px;
	margin: 0;
}

#work .box {
	display: inline-block;
	font-weight: 400;
	margin: 2% 1% 0%;
	padding: 10px;
	width: 25%;
}
#work img {
	background-color:white;
	height: 100%;
	width: 100%;

}
h5 {
	text-align: center;
	color: pink;

}
h3 {
	text-align: center;
	color:pink;
}

/*footer*/
.footer {
	background-color: grey;
	position: relative;
	height: 0;
	display: inline-block;
	padding: 100px;
	float: left;
}

.footer p {
	float: left;
	margin: 20px 75px 0 0;

}
#socialMedia {
	float: left;
	background-color: grey;
	margin: 0;
	padding-top: 276px;
    padding-bottom: 207px;
    padding-left: 305px;

}

#socialMedia a {
	border-radius: 2px;
	background-color: grey;
	color: pink;
	margin: 5px;
	padding: 7px;
	text-decoration: none;

}
#socialMedia a: first-child {
	padding: 7px 9px;

}
